/*  login start */
.forml {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assete/img1.jpg);
  background-position: center;
  background-size: cover;
}
.login {
  width: 500px;
  height: 450px;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  font-weight: bold;
}
/*  login end */

/* hover box start */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}

/* hover box end */

/* registration start */
.gradient-custom {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assete/img1.jpg);
  background-position: center;
  background-size: cover;
}
.adesh{
  width: 100%;
 }

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
/* registration end */
/* TABLE */
